$primary: #f0f0f0;
$primary-darker: #e0e0e0;
$secondary: #1e1b19;
$warning: #b80c09;
$good: #0a8754;
$auxiliary1: #161412;
$auxiliary2: #370096;

$defaultForeground: '#161616';
$defaultBackground: '#d8d8d8';

$cardWidth: 18rem;
$cardHeight: 24rem;

$alertHeight: 2.5rem;

:root {
  // variables which user can change - like that by default
  --cardForegroundColor: #{$defaultForeground};
  --cardBackgroundColor: #{$defaultBackground};
}

html {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $secondary;
  color: $primary;
}

.root-element {
  width: 100vw - calc(20rem + 15px);
  margin-left: calc(20rem + 15px); // for .side-pane

  height: 100vh;

  .side-pane {
    width: 20rem;
    height: 100%;
    background-color: $auxiliary1;
    padding: 15px;
    text-align: center;

    position: fixed;
    top: 0;
    left: 0;

    &__title {
      font-size: 3rem;
    }

    &__options .btn {
      background-color: $secondary;
      color: $primary;
      border: 2px solid $primary;
      width: 90%;
      padding: 5px 10px;
      margin: 10px 0;
      font-size: 1.3rem;
      cursor: pointer;
    }

    .btn:disabled {
      cursor: default;
    }
  }

  .card-mountpoint {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
}

.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: $cardWidth;
  height: $cardHeight;
  color: var(--cardForegroundColor);
  background-color: var(--cardBackgroundColor);
  border: 2px solid var(--cardForegroundColor);
  margin: 10px;
  word-break: break-word;
  padding: 10px;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__example {
    font-weight: bold;
  }

  &--small {
    width: 5.5rem;
    height: 8rem;
    padding: 5px;
    margin: 0 15px 20px 15px;
    font-size: 0.8rem;

    position: relative;
    cursor: move;

    * {
      font-size: inherit;
    }

    &__btn-delete {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 2rem;
      border: 2px solid $warning;
      color: $warning;
      background-color: $primary;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;

      margin: 0;

      // upper right corner
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(1rem, -0.7rem);

      &::after {
        content: '×';
      }
    }
  }
}

.modal {
  /* should take up almost the whole window */
  background-color: $primary;
  width: 60%;
  height: 90%;
  overflow-x: scroll;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;

  padding: 20px;
  text-align: center;
  color: $secondary;
  font-size: 2rem;
  border-radius: 5px;

  animation-duration: 0.2s;
  animation-name: fadein;
  animation-iteration-count: 1;

  @keyframes fadein {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }

  &__title {
    margin-bottom: 20px;

    h1 {
      font-size: 2rem;
      height: 4rem;
      display: inline; // remove the empty space created by browsers
      text-transform: capitalize;
    }
  }

  &__preview-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__label {
    display: flex;
    align-items: center;

    &__text {
      width: 10rem;
    }

    &__input {
      font-size: 1.3rem;
      width: 15rem;
      height: 2rem;
      margin: 20px;
    }
  }

  &__btn {
    display: block;
    cursor: pointer;

    width: 80%;
    height: 50px;
    margin: 25px auto;

    font-size: 2rem;
  }

  .form-container {
    display: grid;
    grid-template-columns: auto auto;

    &__preview-cards {
      display: flex;
      justify-content: center;
      align-items: center;

      .card {
        width: $cardWidth / 2;
        height: $cardHeight / 2;
        font-size: 0.7rem;

        &__title {
          font-size: 1rem;
        }

        &--back {
          font-size: 0.7rem;
        }
      }
    }

    .modal__btn {
      grid-column: 1 / span 3;
    }
  }
}

.color-schemes {
  display: grid;
  justify-content: center;
  align-items: center;

  .label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    .color-label {
      padding: 20px;
      display: block;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
        background-color: $primary-darker;
      }

      &__color-tile {
        display: inline-block;
        width: 5rem;
      }

      &--active {
        border: 3px solid $secondary;
      }
    }
  }

  .preview-cards {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
  }
}

.dragging {
  color: var(--cardBackgroundColor);
  background-color: var(--cardForegroundColor);
  border: 2px solid var(--cardBackgroundColor);
}

.hidden {
  display: none;
}

.blurred {
  filter: blur(8px);
}

.alert-container {
  position: fixed;
  top: 15px;
  left: 15%; /* center */
  width: 70%; /* take 70% of the screen's width */
  display: flex;
  flex-direction: column;

  z-index: 1; /* always on top */
}

.alert {
  border: 3px solid $warning;
  background-color: $primary;
  color: $secondary;

  margin-top: 20px;

  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 5px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  &.fadeout {
    opacity: 0;
    transition: opacity 0.3s;
  }

  &__btn-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;

    border: none; // reset border
    border-left: 2px solid $warning;

    color: $warning;
    background-color: $primary;

    width: 2rem;
    height: 2rem;

    margin: 0;

    // square
    position: absolute;
    right: 0;

    &::after {
      content: '×';
    }
  }
}
