@charset "UTF-8";
:root {
  --cardForegroundColor: #161616;
  --cardBackgroundColor: #d8d8d8;
}

html {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #1e1b19;
  color: #f0f0f0;
}

.root-element {
  display: grid;
  grid-template-columns: 22rem auto;
  height: 100vh;
}
.root-element .side-pane {
  height: 100%;
  background-color: #161412;
  padding: 15px;
  text-align: center;
}
.root-element .side-pane__options {
  position: fixed;
  width: 22rem;
  left: 0px;
}
.root-element .side-pane__options .btn {
  background-color: #1e1b19;
  color: #f0f0f0;
  border: 2px solid #f0f0f0;
  width: 90%;
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 1.3rem;
  cursor: pointer;
}
.root-element .side-pane__options .options__title {
  font-size: 3rem;
}
.root-element .side-pane .btn:disabled {
  cursor: default;
}
.root-element .card-mountpoint {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 18rem;
  height: 24rem;
  color: var(--cardForegroundColor);
  background-color: var(--cardBackgroundColor);
  border: 2px solid var(--cardForegroundColor);
  margin: 10px;
  word-break: break-word;
  padding: 10px;
  cursor: pointer;
}
.card:disabled {
  cursor: default;
}
.card__title {
  font-size: 2.5rem;
  font-weight: bold;
}
.card__example {
  font-weight: bold;
}
.card--small {
  width: 5.5rem;
  height: 8rem;
  padding: 5px;
  margin: 0 15px 20px 15px;
  font-size: 0.8rem;
  position: relative;
  cursor: move;
}
.card--small * {
  font-size: inherit;
}
.card--small__btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  border: 2px solid #b80c09;
  color: #b80c09;
  background-color: #f0f0f0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(1rem, -0.7rem);
}
.card--small__btn-delete::after {
  content: "×";
}

.modal {
  /* should take up almost the whole window */
  background-color: #f0f0f0;
  width: 60%;
  height: 90%;
  overflow-x: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  padding: 20px;
  text-align: center;
  color: #1e1b19;
  font-size: 2rem;
  border-radius: 5px;
  animation-duration: 0.2s;
  animation-name: fadein;
  animation-iteration-count: 1;
}
@keyframes fadein {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.modal__title {
  margin-bottom: 20px;
}
.modal__title h1 {
  font-size: 2rem;
  height: 4rem;
  display: inline;
  text-transform: capitalize;
}
.modal__preview-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.modal__label {
  display: flex;
  align-items: center;
}
.modal__label__text {
  width: 10rem;
}
.modal__label__input {
  font-size: 1.3rem;
  width: 15rem;
  height: 2rem;
  margin: 20px;
}
.modal__btn {
  display: block;
  cursor: pointer;
  width: 80%;
  height: 50px;
  margin: 25px auto;
  font-size: 2rem;
}
.modal .form-container {
  display: grid;
  grid-template-columns: auto auto;
}
.modal .form-container__preview-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .form-container__preview-cards .card {
  width: 9rem;
  height: 12rem;
  font-size: 0.7rem;
}
.modal .form-container__preview-cards .card__title {
  font-size: 1rem;
}
.modal .form-container__preview-cards .card--back {
  font-size: 0.7rem;
}
.modal .form-container .modal__btn {
  grid-column: 1/span 3;
}

.color-schemes {
  display: grid;
  justify-content: center;
  align-items: center;
}
.color-schemes .label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.color-schemes .label-container .color-label {
  padding: 20px;
  display: block;
}
.color-schemes .label-container .color-label:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #e0e0e0;
}
.color-schemes .label-container .color-label__color-tile {
  display: inline-block;
  width: 5rem;
}
.color-schemes .label-container .color-label--active {
  border: 3px solid #1e1b19;
}
.color-schemes .preview-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.dragging {
  color: var(--cardBackgroundColor);
  background-color: var(--cardForegroundColor);
  border: 2px solid var(--cardBackgroundColor);
}

.hidden {
  display: none;
}

.blurred {
  filter: blur(8px);
}

.alert-container {
  position: fixed;
  top: 15px;
  left: 15%;
  /* center */
  width: 70%;
  /* take 70% of the screen's width */
  display: flex;
  flex-direction: column;
  z-index: 1;
  /* always on top */
}

.alert {
  border: 3px solid #b80c09;
  background-color: #f0f0f0;
  color: #1e1b19;
  margin-top: 20px;
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert.fadeout {
  opacity: 0;
  transition: opacity 0.3s;
}
.alert .btn-undo {
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  height: 2rem;
  border-right: 2px solid #b80c09;
  padding: 0 3rem;
  position: absolute;
  left: 0;
}
.alert__btn-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  border-left: 2px solid #b80c09;
  color: #b80c09;
  background-color: #f0f0f0;
  width: 2rem;
  height: 2rem;
  margin: 0;
  position: absolute;
  right: 0;
}
.alert__btn-remove::after {
  content: "×";
}

/*# sourceMappingURL=main.css.map */
